<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uoa.ecommerce.mapper.TeacherCourseMapper">

    <select id="getTeacherByCourse" resultType="com.uoa.ecommerce.vo.TeacherCourseVO">
        SELECT
            tc.uid AS uid,
            t.uid AS teacherUid,
            t.name AS teacherName,
            c.uid AS courseUid,
            c.name AS courseName
        FROM
            teacher_course tc
                LEFT JOIN teacher t ON tc.teacher_uid = t.uid
                LEFT JOIN course c ON tc.course_uid = c.uid
        WHERE
            tc.is_deleted = 0
          AND t.is_deleted = 0
          AND c.is_deleted = 0
          AND tc.course_uid = #{courseUid}
    </select>

    <select id="getCourseByTeacher" resultType="com.uoa.ecommerce.vo.TeacherCourseVO">
        SELECT
            tc.uid AS uid,
            t.uid AS teacherUid,
            t.name AS teacherName,
            c.uid AS courseUid,
            c.name AS courseName
        FROM
            teacher_course tc
                LEFT JOIN course c ON tc.course_uid = c.uid
                LEFT JOIN teacher t ON tc.teacher_uid = t.uid
        WHERE
            tc.is_deleted = 0
          AND t.is_deleted = 0
          AND c.is_deleted = 0
          AND tc.teacher_uid = #{teacherUid}
    </select>

</mapper>
